[submodule "lib/windfield"]
	path = lib/windfield
	url = https://github.com/kaancfidan/windfield/
[submodule "lib/peachy"]
	path = lib/peachy
	url = https://github.com/josh-perry/peachy
[submodule "lib/gamera"]
	path = lib/gamera
	url = https://github.com/kikito/gamera
